.a{
	height: 600px;
	width: 1000px;
	background-color: white;
}
.b{
	height: 50px;
	width: 1000px;
	background-color: peachpuff;
}
.c{
	height: 500px;
	width: 1000px;
	background-color: silver;
}
.d{
	height: 50px;
	width: 1000px;
	background-color:peachpuff;
}
.e{
	height: 250px;
	width: 1000px;
	background-color:white;
}
.f{
	height: 250px;
	width: 1000px;
	background-color:white;

}
/*ul{
	display: flex;
}*/
li{
	float:right;
    position: relative;
    display: block;
    padding-left: 40px;
    padding-top: 15px;
    padding-right: 5px;
}
a{
	text-decoration: none;
	color:black;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #555;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}